
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/bebas/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


nav ul a,
nav a,
h4,h3,h2,.bebas {
  font-family: "BebasNeueRegular";
  letter-spacing: .1rem;
}

h5.light {
  font-style: italic;
}

nav ul a {
  font-size: 1.1rem;
}

.container {
  padding: 0;
}

.side-nav a {
  width: 100%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.fog {
  text-shadow: 0 0 6px #000000;
}



.fog-white {
  text-shadow: 0 0 6px #ffffff;
}

.fog-off-white {
  text-shadow: 0 0 6px #ffeedd;
}

.collapsible-body > ul
,.collapsible-body > ul > li{
  line-height: 1.5rem;
  list-style-type: disc;
}

.collapsible-body > ul {
  padding-left: 40px;
}

.collapsible-body > p {
  padding: 0rem;
  line-height: 1.5rem;
}

.collapsible-body {
  padding: 1rem;
  background-color: rgba(255,255,255,.75);
  color: black;
  text-align: left;
}

.staff-img {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

.give-icon:before {
  content: "\e69c";
}

.parallax > img {
  min-width: 750px;
}
